
// Colors

$primary: #101326;
$secondary: #078C28;
// $secondary: #006064;
$tertiary: #F20574;
$complementary: #19191a;
$text-light: white;
$text-dark: black;


%flex-colum-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}