
// Colors

$primary: #00bcd4;
$secondary: #006064;
$tertiary: #c0c3c4;
$complementary: #19191a;


%flex-colum-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}